<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730136041882-94g7vgnmoffh2g969tn2ua2hi8iv83q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730136041882-94g7vgnmoffh2g969tn2ua2hi8iv83q3</string>
	<key>API_KEY</key>
	<string>AIzaSyCw8B6FjTpv0M0YLN4KTTOnd3Y-gcEiwAo</string>
	<key>GCM_SENDER_ID</key>
	<string>730136041882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koukilab.InAppMessaging-Duplicate</string>
	<key>PROJECT_ID</key>
	<string>kouki-dan-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>kouki-dan-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730136041882:ios:b367d78e675da8de6ac223</string>
</dict>
</plist>